extends layout

block content
	.home-layout

		.profile-container
			img.profile-image(src="/assets/profile-picture@2x.jpg", alt="Dominic at Sunset")
			h1#hello-label #[span(class="ultra-light") [sheepishly]] Hi, I'm Dominic
			
			.profile-text-container
				p I’m an #[strong iOS developer] and #[strong product designer] from the midwest, living and studying at the University of Pennsylvania.
				p I like rainy days, MBMBaM, and good caffeine — ideally all three :p
				p I’m interested in creating quality products that #[strong respect their user’s time, health, and right to privacy].
				p If that sounds like something you do — let’s get in touch :)

		.image-container
			img.banner-image(src="/assets/clouds-flat.png", alt="Clouds")

		.work-container
			h1 #[strong Work]
			.individual-project
				img(src="/assets/pennmobile.png", alt="Penn Mobile")
				p.individual-project-text I led #[strong Penn Mobile] to improve student life at Penn, one open laundry machine at a time.
			.individual-project
				img(src="/assets/prynt.png", alt="Prynt")
				p.individual-project-text I built #[strong Prynt] to solve digital fragmentation, in the age of 1000 profiles.
			.individual-project
				img(src="/assets/slingshot.png", alt="Slingshot")
				p.individual-project-text I designed #[strong Slingshot Mobile] to bring a company’s existing capabilities into the mobile age..
			.individual-project
				img(src="/assets/revive.png", alt="Revive Fitness")
				p.individual-project-text I built #[strong Revive Fitness] to revolutionize an existing fitness program, and add value to a client’s gym.
			.individual-project
				img(src="/assets/mojimosaic.png", alt="Moji Mosaic")
				p.individual-project-text I built #[strong Moji Mosaic] to have some fun with Emojis.

		.image-container
			img.banner-image(src="/assets/birds.png", alt="Birds")

		.toolkit-container
			h1 #[strong Tools]
			.individual-tool
				img(src="/assets/swift.png", alt="Swift")
				p.individual-tool-text I use #[strong Swift] for the unmatched native experience it creates.
			.individual-tool
				img(src="/assets/xcode.png", alt="Xcode")
				p.individual-tool-text I use #[strong Xcode] with and without IB.
			.individual-tool
				img(src="/assets/sketch.png", alt="Sketch")
				p.individual-tool-text I use #[strong Sketch] for designing vector assets.
			.individual-tool
				img(src="/assets/xd.png", alt="Adobe XD")
				p.individual-tool-text I use #[strong Adobe XD] for interface layouts.

		.contact-container
			p.contact-text Let's #[strong build something].
			p.contact-text #[a(href="mailto:hello@dominic.land") Contact me] directly, or find me on #[a(href="https://github.com/DominicHolmes" target="_blank") Github].

		.image-container
			img.banner-image(src="/assets/mountains-green.png", alt="Mountains")

